.line {
  background: #005ab6;
  /* background: #CC0000; */
}
.reveal {
  display: flex;
}
.col {
  flex: 1;
}
.progress {
  color: #FF4081;
}

/* Better fonts */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal {
  font-family: "Bookerly", serif;
  font-size: 30px;
  font-weight: normal;
}
